.list {
    font-size: 20px;
    margin: 10px 5px;
    color: #333;
}

.testButton {
    margin: 10px 5px;
    width: 100px;
    height: 45px;
    border: 0;
    font-size: 15px;
    border-radius: 5px;
    background-color: #2d80f7;
    color: #fff;
    outline: none;
}
