.header {
    width: 100%;
    height: 50px;
    background-color: orange;
}

h1 {
    display: inline-block;
    color: black;
    margin-right: 20px;
}

.linkButton {
    display: inline-block;
    width: 100px;
    color: black;
    margin-right: 20px;
}
